extends base

block append head
   title Verify Account
block content
   main.main
   .error
      .error__title
         h2.heading-secondary Verify your Natours account here ‍.
         div.d-block
            button.btn.btn--green.border-0.d-block#btn-verify Verify your account
